= simple_form_for(Environment.new, url: run_test_path) do |f|  
  = f.simple_fields_for :test do |sf|
    = sf.label 'Env:'
    = sf.select :env, Environment.all.map(&:name)
    %div
    = sf.label 'Test:'
    = sf.select :test, Automatedtest.all.map(&:name)

  %div
  = f.submit 'Run Test'